/*-- GLOBAL --*/

/*-- RESET --*/

html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {

    /*-- primary --*/
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /*-- neutral --*/

    --VeryDark: hsl(217, 54%, 11%);
    --VeryDark2: hsl(216, 50%, 16%);
    --VeryDark3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

}

body {
    background-color: var(--VeryDark);
    font-family: 'Outfit',
        sans-serif;
    font-size: 18px;
}

.container {
    background-color: var(--VeryDark);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    height: 590px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    background-color: var(--VeryDark2);
}

.mainBox__img {
    margin: 1.5rem;
}

img {
    border-radius: 10px;
}

.contenBox__title {
    margin: 1.5rem;
}

.contentBox__paragraph {
    margin: 1.5rem;
}

.title {
    color: var(--White);
    font-weight: 300;
}

.mainText {
    color: var(--SoftBlue);
    font-weight: lighter;
}


/*-- footer --*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}