/*-- GLOBAL --*/

/*-- RESET --*/

html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {

    /*-- primary --*/
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /*-- neutral --*/
    --VeryDark blue (main BG): hsl(217, 54%, 11%);
    --VeryDark2 blue (card BG): hsl(216, 50%, 16%);
    --VeryDark3 blue (line): hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

}